*{
    list-style-type: none;
    text-decoration: none;
}
.ItemListContainer_card__9hcgc{
    display: flex;
    flex-wrap: wrap;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root{
    width: 250px;
    margin: 5px;
}