
.contenedor{
    margin: 0 auto;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.boton{
    width: 30px;
}
.comprar{
    display: flex;
    justify-content: center;
}